<?xml version="1.0"?>

<launch>

    <arg name="bag_file" default="$(env ROS_BAGS)/tams_pr2/tmp_2024-01-04-17-10-22.bag"/>
    <arg name="bag_start" default="0"/>
    <arg name="bag_rate" default="1"/>
    <arg name="playbag" default="true"/>
    <arg name="visualize" default="true"/>
    <arg name="rviz_file" default="$(find tams_pr2_atom_calibration)/rviz/playbag_tactile.rviz"/>
    <arg name="description_file" default="$(find tams_pr2_description)/robots/tams_pr2.urdf.xacro"/>

    <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
    <!-- Throttle topics -->
    <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
    <!-- Load robot description and tf generators -->
    <param name="robot_description" command="$(find xacro)/xacro $(arg description_file)"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
    <!-- Playback the bag file -->
    <param name="/use_sim_time" value="true"/>

    <node pkg="image_transport" type="republish" name="decompressor_azure_rgb_camera" output="screen"
          args="compressed in:=/azure_kinect/rgb/image_raw raw out:=/azure_kinect/rgb/image_raw"/>
    <!-- Generate transformatiosn from the xacro and joint state msgs, ignore tfs -->
    <node pkg="rosbag" type="play" name="rosbag_play" output="screen" if="$(arg playbag)"
        args=" $(arg bag_file) --clock -r $(arg bag_rate) -l -s $(arg bag_start) -d 2 /tf:=/tf_dev_null /tf_static:=/tf_static_dev_null "/>
    <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->

    <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
    <!-- Visualization -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_file)" required="true" if="$(arg visualize)"/>
    <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->

</launch>