<?xml version="1.0"?>
<launch>
  <arg name="bag" default="/tmp/tmp.bag"/>

  <node name="rosbag_record" pkg="rosbag" type="record" output="screen" args="
  /tf
  /tf_static
  /joint_states
  /accelerometer/l_gripper_motor                                                                                                                                                                           
  /attached_collision_object 
  /collision_object
  /ft/l_gripper_motor
  /hand/calibrated
  /hand/contacts_marker
  /hand/electrode_marker
  /hand/rh/contacts
  /hand/rh/debug_etherCAT_data
  /hand/rh/palm_extras
  /hand/rh/tactile
  /hand/rh/tactile_filtered
  /hand/rh/tactile_normalized
  /hand/rh/tactile_subtract_temperature
  /l_gripper/pressure_viz
  /l_gripper/pressure_viz_array
  /l_gripper_sensor_controller/command
  /l_gripper_sensor_controller/contact_state
  /l_gripper_sensor_controller/event_detector
  /l_gripper_sensor_controller/event_detector_state
  /l_gripper_sensor_controller/find_contact
  /l_gripper_sensor_controller/force_servo
  /l_gripper_sensor_controller/force_servo_state
  /l_gripper_sensor_controller/raw_data
  /l_gripper_sensor_controller/slip_servo
  /l_gripper_sensor_controller/slip_servo_state
  /l_gripper_sensor_controller/state
  /pressure/l_gripper_motor
  /pressure/l_gripper_motor_info
  /pressure/r_gripper_motor
  /pressure/r_gripper_motor_info
  -o $(arg bag)"/>

</launch>
